.homeSplashFade {
  background-image: linear-gradient(to right, #ffeba9 0%, #FFF 50%,  #ffeba9 100%);
}

.homeWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.splash-logo {
  height: 250px;
}

.projectTitle {
  color: #f6be70;
}

.features-container {
  display: grid;
  grid-gap: 20px;
  padding: 40px;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.feature-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 100px 50px;
}

.feature-img {
  width: 200px;
  margin-bottom: 20px;
}

.feature-title {
  font-size: 24px;
  font-weight: bold;
}

.team-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.team-img {
  width: 100px;
  border-radius: 50%;
  border: 3px solid orange;
  margin-bottom: 14px;
}

.team-name {
  font-weight: bold;
}

.team-role {
  font-size: 12px;
  font-style: italic;
}

.team-holder {
  padding: 40px;
  text-align: center;
  background-image: linear-gradient(to top, #FFF 0%, #f0f0f0 100%);
}

.team-section-title {
  font-size: 30px;
  font-weight: bold;
}

.team-grid {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
  .features-container {
    grid-template-columns: 1fr;
  }
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}